<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="SmellDetectorMerger.commands.category"
            name="Find Smells Category">
      </category>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Import CSV"
            id="SmellDetectorMerger.commands.importSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Detect All Smells"
            id="SmellDetectorMerger.commands.findAllSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="God Class"
            id="SmellDetectorMerger.commands.findGodClassSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Long Method"
            id="SmellDetectorMerger.commands.findLongMethodSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Long Parameter List"
            id="SmellDetectorMerger.commands.findLongParameterListSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Feature Envy"
            id="SmellDetectorMerger.commands.findFeatureEnvySmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Duplicate Code"
            id="SmellDetectorMerger.commands.findDuplicateCodeSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Brain Class"
            id="SmellDetectorMerger.commands.findBrainClassSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Brain Method"
            id="SmellDetectorMerger.commands.findBrainMethodSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Data Class"
            id="SmellDetectorMerger.commands.findDataClassSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Dispersed Coupling"
            id="SmellDetectorMerger.commands.findDispersedCouplingSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Intensive Coupling"
            id="SmellDetectorMerger.commands.findIntensiveCouplingSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Refused Parent Bequest"
            id="SmellDetectorMerger.commands.findRefusedParentBequestSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Shotgun Surgery"
            id="SmellDetectorMerger.commands.findShotgunSurgerySmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Tradition Breaker"
            id="SmellDetectorMerger.commands.findTraditionBreakerSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Type Checking"
            id="SmellDetectorMerger.commands.findTypeCheckingSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Class Should Be Private"
            id="SmellDetectorMerger.commands.findClassShouldBePrivateSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Complex Class"
            id="SmellDetectorMerger.commands.findComplexClassSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Lazy Class"
            id="SmellDetectorMerger.commands.findLazyClassSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Message Chain"
            id="SmellDetectorMerger.commands.findMessageChainSmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Speculative Generality"
            id="SmellDetectorMerger.commands.findSpeculativeGeneralitySmellsCommand">
      </command>
      <command
            categoryId="SmellDetectorMerger.commands.category"
            name="Spaghetti Code"
            id="SmellDetectorMerger.commands.findSpaghettiCodeSmellsCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.importSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findAllSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findGodClassSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findLongMethodSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findLongParameterListSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findFeatureEnvySmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findDuplicateCodeSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findBrainClassSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findBrainMethodSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findDataClassSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findDispersedCouplingSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findIntensiveCouplingSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findRefusedParentBequestSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findShotgunSurgerySmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findTraditionBreakerSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findTypeCheckingSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findClassShouldBePrivateSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findComplexClassSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findLazyClassSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findMessageChainSmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findSpeculativeGeneralitySmellsCommand">
      </handler>
      <handler
            class="smelldetectormerger.handlers.SmellDetectionHandler"
            commandId="SmellDetectorMerger.commands.findSpaghettiCodeSmellsCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               id="SmellDetectorMerger.menus.findSmellsMenu"
               label="SmellDetectorMerger"
               mnemonic="M">
            <command
		          commandId="SmellDetectorMerger.commands.importSmellsCommand"
		          id="SmellDetectorMerger.commands.importSmellsCommand">
		    </command>
            <command
                  commandId="SmellDetectorMerger.commands.findAllSmellsCommand"
                  id="SmellDetectorMerger.menus.findAllSmellsCommand"
                  mnemonic="S">
            </command>
            <command
		          commandId="SmellDetectorMerger.commands.findGodClassSmellsCommand"
		          id="SmellDetectorMerger.commands.findGodClassSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findLongMethodSmellsCommand"
		          id="SmellDetectorMerger.commands.findLongMethodSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findLongParameterListSmellsCommand"
		          id="SmellDetectorMerger.commands.findLongParameterListSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findFeatureEnvySmellsCommand"
		          id="SmellDetectorMerger.commands.findFeatureEnvySmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findDuplicateCodeSmellsCommand"
		          id="SmellDetectorMerger.commands.findDuplicateCodeSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findBrainClassSmellsCommand"
		          id="SmellDetectorMerger.commands.findBrainClassSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findBrainMethodSmellsCommand"
		          id="SmellDetectorMerger.commands.findBrainMethodSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findDataClassSmellsCommand"
		          id="SmellDetectorMerger.commands.findDataClassSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findDispersedCouplingSmellsCommand"
		          id="SmellDetectorMerger.commands.findDispersedCouplingSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findIntensiveCouplingSmellsCommand"
		          id="SmellDetectorMerger.commands.findIntensiveCouplingSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findRefusedParentBequestSmellsCommand"
		          id="SmellDetectorMerger.commands.findRefusedParentBequestSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findShotgunSurgerySmellsCommand"
		          id="SmellDetectorMerger.commands.findShotgunSurgerySmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findTraditionBreakerSmellsCommand"
		          id="SmellDetectorMerger.commands.findTraditionBreakerSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findTypeCheckingSmellsCommand"
		          id="SmellDetectorMerger.commands.findTypeCheckingSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findClassShouldBePrivateSmellsCommand"
		          id="SmellDetectorMerger.commands.findClassShouldBePrivateSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findComplexClassSmellsCommand"
		          id="SmellDetectorMerger.commands.findComplexClassSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findLazyClassSmellsCommand"
		          id="SmellDetectorMerger.commands.findLazyClassSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findMessageChainSmellsCommand"
		          id="SmellDetectorMerger.commands.findMessageChainSmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findSpeculativeGeneralitySmellsCommand"
		          id="SmellDetectorMerger.commands.findSpeculativeGeneralitySmellsCommand">
		    </command>
		    <command
		          commandId="SmellDetectorMerger.commands.findSpaghettiCodeSmellsCommand"
		          id="SmellDetectorMerger.commands.findSpaghettiCodeSmellsCommand">
		    </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
          <view
            name="SmellDetectorMerger Smells View"
            icon="icons/sample.png"
            class="smelldetectormerger.views.SmellsView"
            id="smelldetectormerger.views.SmellsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="smelldetectormerger.preferences.PreferencePage"
            id="smelldetectormerger.preferences.PreferencePage"
            name="SmellDetectorMerger">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="smelldetectormerger.preferences.PreferencePageInitializer">
      </initializer>
   </extension>
</plugin>
